* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.slide-container {
    display: inline-flex;
    overflow: hidden;
    width: 800px;
    height: 500px;
    background-color: aliceblue;
    position: relative;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

.slide {
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 800px;
    background-color: var(--clr);
    transition: all 0.5s ease-in-out;
    transform: translateX(calc(100% * var(--i)));
    overflow: hidden;
}
.slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.slide.actived {
    transition: all 0.5s ease-in-out;
    transform: translateX(calc(-100% * var(--i)));
}
.slide.previous{
    transition: all 0.5s ease-in-out;
    transform: translateX(calc(-100% * var(--i)));
}